/**
 * Form elements
 * Checkboxes & Radios
 */
.epc-form {
    [type="checkbox"],
    [type="radio"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 1.25em;
        height: 1.25em;
        margin-top: -0.125em;
        margin-right: 0.375em;
        margin-left: 0;
        margin-inline-start: 0;
        margin-inline-end: 0.375em;
        border-width: var(--border-medium);
        font-size: inherit;
        vertical-align: middle;
        cursor: pointer;

        &::-ms-check {
            display: none; // unstyle IE checkboxes
        }

        &:checked,
        &:checked:active,
        &:checked:focus {
            background-color: var(--primary-80);
            border-color: var(--primary-80);
            background-image: var(--icon-checkbox);
            background-position: center;
            background-size: 0.75em auto;
            background-repeat: no-repeat;
        }

        &~label {
            display: inline-block;
            margin-right: 0.375em;
            margin-bottom: 0;
            cursor: pointer;
        }
    }

    // Checkboxes
    [type="checkbox"] {
        &:indeterminate {
            background-color: var(--primary-80);
            border-color: var(--primary-80);
            background-image: var(--icon-minus);
            background-position: center;
            background-size: 0.75em auto;
            background-repeat: no-repeat;
        }
    }

    // Radios
    [type="radio"] {
        border-radius: 50%;

        &:checked,
        &:checked:active,
        &:checked:focus {
            background-color: var(--bg-body);
            border-width: 0.35em;
            background-image: none;
        }
    }

    // Aria-invalid
    [type="checkbox"],
    [type="checkbox"]:checked,
    [type="radio"],
    [type="radio"]:checked {

        &[aria-invalid="true"] {
            border-color: var(--secondary-60);
        }
    }
}
